.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  height: 48px;
  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);

  div {
    text-align: center;
    margin: 0 1.5rem;
  }
}
